<div class="contact">
  <h2>Contact</h2>
  <ul>
    <!--<li>University of Chicago</li>
    <li>Harris School of Public Policy</li>-->
    <li>Allison Elmer, <i>she/her</i></li>
    <!--<li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Foobar Hall 1.23</span></li>-->
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Chicago, Illinois</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>408-797-4134</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:amelmer@uchicago.edu">amelmer@uchicago.edu</a></li>
    <li><span class="li-icon">{% include svg/linkedin.svg %}</span><a href="https://www.linkedin.com/in/allison-marie-elmer/">LinkedIn</a></li>
    <!--<li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://amelmer.github.io">https://amelmer.github.io</a></li>-->
  </ul>
</div>
